# Series
- Series: It is defined as a one-dimensional array that is capable of storing various data types

In [1]:
import pandas as pd

In [4]:
x = [3,4,5,6,7,8]

sr = pd.Series(x)

print(sr)
print(type(sr))

0    3
1    4
2    5
3    6
4    7
5    8
dtype: int64
<class 'pandas.core.series.Series'>

In [5]:
sr[1]

4

In [8]:
sr = pd.Series(x, index=['a', 'b', 'c', 'd', 'e', 'f'])
sr

a    3
b    4
c    5
d    6
e    7
f    8
dtype: int64

In [9]:
sr = pd.Series(x, index=['a', 'b', 'c', 'd', 'e', 'f'], dtype="float")
sr

a    3.0
b    4.0
c    5.0
d    6.0
e    7.0
f    8.0
dtype: float64

In [13]:
sr = pd.Series(x, index=['a', 'b', 'c', 'd', 'e', 'f'], dtype="float", name='Learn series of pandas')
sr

a    3.0
b    4.0
c    5.0
d    6.0
e    7.0
f    8.0
Name: Learn series of pandas, dtype: float64

In [16]:
dic = {
    "name": ["python", "c", "c++", 'java'],
    "por": [12,13,14,15],
    "rank": [1,4,3,2]
}
sr_1 = pd.Series(dic)
sr_1

name    [python, c, c++, java]
por           [12, 13, 14, 15]
rank              [1, 4, 3, 2]
dtype: object

In [18]:
sr_2 = pd.Series(12)
sr_2

0    12
dtype: int64

In [19]:
sr_2 = pd.Series(12, index=[1,2,3,4,5,6,7,8])
sr_2

1    12
2    12
3    12
4    12
5    12
6    12
7    12
8    12
dtype: int64

In [20]:
s1 =  pd.Series(12, index=[1,2,3,4,5,6])
s2 =  pd.Series(12, index=[1,2,3,4])

s1+s2

1    24.0
2    24.0
3    24.0
4    24.0
5     NaN
6     NaN
dtype: float64